<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input name='title' ngModel required matInput #title='ngModel' placeholder="Add a Title">
      <mat-error *ngIf="title.invalid">Please enter Title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Post Comment</mat-label>
      <textarea name='content' ngModel required rows="4" matInput #content='ngModel' placeholder="Write your content here.."></textarea>
      <mat-error *ngIf="content.invalid"> Please enter Content</mat-error>
    </mat-form-field>
    <button color='accent' mat-raised-button type="submit"> Save post</button>
  </form>
</mat-card>
